.current-operation {
  -fx-border-color: #000000!important;
  -fx-background-color: #9999dd!important;
}

.breakpoint {
  -fx-border-color: #000000!important;
  -fx-background-color: #dd9999!important;
}